# FFmpeg Specific
build/
ffmpeg_build/
bin/
ffmpeg/
nv-codec-headers/

Inputs/
Outputs/

crf0/
crf18/
code/
reference/

# Python Specific
venv/
__pycache__/
*.py[cod]
*$py.class

# Vim Specific
*.swp
